<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>front_proj</display-name>
  <welcome-file-list>
    <welcome-file>forruntime.jsp</welcome-file>
    <welcome-file>bigASS.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RuntimeServlet</display-name>
    <servlet-name>RuntimeServlet</servlet-name>
    <servlet-class>page.RuntimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RuntimeServlet</servlet-name>
    <url-pattern>/RuntimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScanltemServlet</display-name>
    <servlet-name>ScanltemServlet</servlet-name>
    <servlet-class>ScanltemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScanltemServlet</servlet-name>
    <url-pattern>/ScanltemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>indexlist</display-name>
    <servlet-name>indexlist</servlet-name>
    <servlet-class>page.indexlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexlist</servlet-name>
    <url-pattern>/indexlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScanProductServlet</display-name>
    <servlet-name>ScanProductServlet</servlet-name>
    <servlet-class>page.ScanProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScanProductServlet</servlet-name>
    <url-pattern>/ScanProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>page.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>check_weight</display-name>
    <servlet-name>check_weight</servlet-name>
    <servlet-class>page.check_weight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check_weight</servlet-name>
    <url-pattern>/check_weight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarServletList</display-name>
    <servlet-name>CarServletList</servlet-name>
    <servlet-class>page.CarServletList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarServletList</servlet-name>
    <url-pattern>/CarServletList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletInsert</display-name>
    <servlet-name>UserServletInsert</servlet-name>
    <servlet-class>page.UserServletInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletInsert</servlet-name>
    <url-pattern>/UserServletInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdServlet</display-name>
    <servlet-name>AdServlet</servlet-name>
    <servlet-class>page.AdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdServlet</servlet-name>
    <url-pattern>/AdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultServlet</display-name>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>page.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/ResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultTypeServlet</display-name>
    <servlet-name>ResultTypeServlet</servlet-name>
    <servlet-class>page.ResultTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultTypeServlet</servlet-name>
    <url-pattern>/ResultTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SummerizeServlet</display-name>
    <servlet-name>SummerizeServlet</servlet-name>
    <servlet-class>page.SummerizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SummerizeServlet</servlet-name>
    <url-pattern>/SummerizeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>page.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GainWeight0721</display-name>
    <servlet-name>GainWeight0721</servlet-name>
    <servlet-class>page.GainWeight0721</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GainWeight0721</servlet-name>
    <url-pattern>/GainWeight0721</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAdNameServlet</display-name>
    <servlet-name>InsertAdNameServlet</servlet-name>
    <servlet-class>page.InsertAdNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAdNameServlet</servlet-name>
    <url-pattern>/InsertAdNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BridgeServlet</display-name>
    <servlet-name>BridgeServlet</servlet-name>
    <servlet-class>page.BridgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BridgeServlet</servlet-name>
    <url-pattern>/BridgeServlet</url-pattern>
  </servlet-mapping>
</web-app>