<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ManageSystemLast</display-name>
  <welcome-file-list>
    <welcome-file>DashBoard.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ResultServlet</display-name>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>net.usermanagement.web.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/ResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultTypeServlet</display-name>
    <servlet-name>ResultTypeServlet</servlet-name>
    <servlet-class>net.usermanagement.web.ResultTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultTypeServlet</servlet-name>
    <url-pattern>/ResultTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBListServlet</display-name>
    <servlet-name>DBListServlet</servlet-name>
    <servlet-class>net.usermanagement.web.DBListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBListServlet</servlet-name>
    <url-pattern>/DBListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBNewServlet</display-name>
    <servlet-name>DBNewServlet</servlet-name>
    <servlet-class>net.usermanagement.web.DBNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBNewServlet</servlet-name>
    <url-pattern>/DBNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBEditServlet</display-name>
    <servlet-name>DBEditServlet</servlet-name>
    <servlet-class>net.usermanagement.web.DBEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBEditServlet</servlet-name>
    <url-pattern>/DBEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBUpdateServlet</display-name>
    <servlet-name>DBUpdateServlet</servlet-name>
    <servlet-class>net.usermanagement.web.DBUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBUpdateServlet</servlet-name>
    <url-pattern>/DBUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBInsertServlet</display-name>
    <servlet-name>DBInsertServlet</servlet-name>
    <servlet-class>net.usermanagement.web.DBInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBInsertServlet</servlet-name>
    <url-pattern>/DBInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBDeleteServlet</display-name>
    <servlet-name>DBDeleteServlet</servlet-name>
    <servlet-class>net.usermanagement.web.DBDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBDeleteServlet</servlet-name>
    <url-pattern>/DBDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>