body {
    /* border:2px dashed palegreen; */
    background-image: linear-gradient(-60deg, #ff414196 0%, #fda325bd 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}

.bg_container {
    position:relative;
    padding: 0px;
    margin: 0px;
    /* border:2px solid rgb(0, 60, 255); */
    top:0px;
    left:0px;
    height: 820px;
    width: 1180px;
}

.title_font{
    /* border:2px solid black; */
    padding-left:20px; 
    font-family :'Ubuntu','sans-serif';
    margin:0px;
}

label h2{
    margin:0px;
    padding-left:22px;
}

.mthbtn{
    position: absolute;
    display: inline;
    /* background-color: aquamarine; */
    top:105px;
    left:5px;
    width:75px;
    height:560px;
}

.mthbtn button {
    margin: 10px;
    font-size: medium;
    border-radius: 5px;
    /* background-color: gainsboro; */
}

.mthbtn button:hover {
    border: 2px solid rgb(255, 252, 52);
    border-radius: 5px;
    background-color: rgb(156, 243, 255);
}

.listbtn{
    position:absolute;
    display:inline;
    /* background-color: rgba(217, 255, 127, 0.712); */
    top:75px;
    left:78px;
    width:500px;  
    height:35px;
    font-size: medium;
}

.listbtn button{
    margin:5px;
    font-size: medium;
    border-radius: 5px;
}

.listbtn button:hover{
    display: inline;
    border: 2px solid rgb(255, 252, 52);
    border-radius: 5px;
    background-color: rgb(156, 243, 255);
}


.addbtn {
    position:absolute;
    display:inline;
    /* background-color: rgba(127, 246, 255, 0.712); */
    top:75px;
    left:1057px;
    width:123px;  
    height:35px;
}

.addbtn button{
    margin:5px;
    font-size: medium;
    border-radius: 5px;
}

.addbtn button:hover{
    border: 2px solid rgb(255, 252, 52);
    border-radius: 5px;
    background-color: rgb(156, 243, 255);
}

#cht_container{
/* border: 2px solid black; */
position:relative;
top:40px;
left:90px;
width:1000px;  
height:700px;
background-color: rgb(255, 255, 255,0.8);
}