/* 主要網頁框架 */
* {
    /* border: 2px dashed rgb(117, 111, 172) ; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height:100%
}
body{
    background-image:url('4884841.jpg');
    background-size: cover;
    background-position:left;
    background-repeat: repeat;
    background-attachment: fixed;
	overflow-y: hidden;
	overflow-x: hidden;
}

.transition {
    transition: 0.4s;
}

.menu {
    position: relative;
    /* border: 2px dashed rgb(173, 135, 222); */
    cursor: pointer;
    top:50px;
    left:830px;
    padding: 0px;
    margin: 0px;
    width: 200px;
    height: 600px; 
   
}

.menu.active {
    position: relative;
    /* background: rgb(231, 38, 38); */
    width: 200px;
}

.menu ul {
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255,1);
    width: 200px;
    opacity: 0;
    /*表示完全透明 */
    max-height: 0;
    overflow: hidden;
}

.menu.active ul {
    border: 5px solid rgb(245, 196, 36);
    position:relative;
    top:-45px;
    opacity: 1;
    max-height:670px;
    margin:0px;
    width: 240px;
    height: 620px;
    padding-left:5px;
    z-index: 1;
}

.menu ul li a {
    display: block;
    padding: 10px 12px;
}

ul,
li {
    /* border: 2px dashed rgb(135, 222, 154); */
    list-style: none;
    padding: 0;
    margin: 0;
}

.bar {
    position:relative;
    /* border: 2px dashed rgb(181, 222, 135); */
    width: 36px;
    height: 6px;
    background: rgb(202, 202, 202);
    margin: 5px 0px;
    border-radius: 2px;
    left:-45px; 
    top:560px;
}


.menu.active .bar1 {
    transform: rotate(-45deg) translate(-9px, 7px);
}

.menu.active .bar2 {
    opacity: 0;
}

.menu.active .bar3 {
    transform: rotate(45deg) translate(-9px, -7px);
}

.money {
    position: relative;
    left: 400px;
    border: 2px solid red;
}

.buy {
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    top: 65px;
    right: 20px;
    width: 250px;
    height: 600px;
    z-index: 0;
    border: 2px solid rgb(172, 100, 100);
}

.font-color
{
font-size: x-large;
color:white;
}
