@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
#lgbut {
    font-family: 'Poppins', sans-serif;
   
}

#lgbut a {
    left:70px;
    position: relative;
    background: #000;
    width: 240px;
    text-decoration: none;
    color: #21ebff;
    padding:0 20px 0 20px;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.5s;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transition, #0003);
    text-transform: uppercase;
}


#lgbut a:hover {
    background: #21ebff;
    color: #111;
    box-shadow: 0 0 50px #21ebff;
    /* transition-delay: 0.5s; */
}

#lgbut a:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: 0.5s;
     /* transition-delay: 0.5s; */
} 

#lgbut a:hover:before {
    width: 100%;
    height: 100%;
}


#lgbut a:after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: 0.5s;
    /* transition-delay: 0.5s; */
}

#lgbut a:hover:after {
    width: 100%;
    height: 100%;
}

#but_bump {
    position: fixed;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    border: 2px solid royalblue;
    opacity: 0;
    width: 800px; 
    height: 521px; 
    left: 10px; 
    top: 60px;
}


.but_cross1 {
    position: relative;
    border: 2px dashed rgb(181, 222, 135);
    width: 36px;
    height: 6px;
    background: rgb(255, 255, 255);
    margin: 3px 0px;
    border-radius: 2px;
    left:750px; 
    top: 530px;
    transform:rotate(-45deg) translate(-7px, 6px);
}

.but_cross2 {
    position: relative;
    border: 2px dashed rgb(181, 222, 135);
    width: 36px;
    height: 6px;
    background: rgb(255, 255, 255);
    margin: 3px 0px;
    border-radius: 2px;
    left:750px; 
    top:530px;
    transform:rotate(45deg) translate(0px, 0px);
}


